@media screen and (min-width: 1581px) {
    #about-page-2 {
    height: 95vh;
    width: 100%;
    //background: $color5;
    background: $color2;
    display: flex;
    justify-content: center;
    align-items: center;

    .about-wrapp {
        height: 50vh;
        width: 65%;
        background: $color1;
        display: flex;
        //box-shadow: 5px 5px 1px 5px  $color1;

        .about-wrapp-img-wrapp {
            flex: 1;
            /*animation-name: about-wrapp-anim;
            animation-duration: 15s;
            animation-iteration-count: infinite;*/
            background: $color3;

            svg {
                height: 100%;
                width: 100%;
            }
        }

        .about-wrapp-text-wrapp {
            display: flex;
            justify-content: center;
            align-items: center;
            flex: 1;            
            display: flex;
            color: $color2;
            flex-direction: column;

            .about-wrapp-wrapp {
                height: 80%;
                width: 80%;
                display: flex;
                justify-content: center;
                color: $color2;
                flex-direction: column;
            
                .about-text-wrapp-h {
                    flex: 1;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    h1 {
                        font-size: 34px;
                        color: $color3;
                    }
                }

                .about-text-wrapp-p {
                    flex: 2;
                    font-size: 18px;
                }
            }
        }
    }
}
}



@media (min-width: 1281px) and (max-width: 1580px) {
   #about-page-2 {
    height: 95vh;
    width: 100%;
    //background: $color5;
    background: $color2;
    display: flex;
    justify-content: center;
    align-items: center;

    .about-wrapp {
        height: 50vh;
        width: 80%;
        background: $color1;
        display: flex;
        //box-shadow: 5px 5px 1px 5px  $color1;

        .about-wrapp-img-wrapp {
            flex: 1;
            /*animation-name: about-wrapp-anim;
            animation-duration: 15s;
            animation-iteration-count: infinite;*/
            background: $color3;

            svg {
                height: 100%;
                width: 100%;
            }
        }

        .about-wrapp-text-wrapp {
            display: flex;
            justify-content: center;
            align-items: center;
            flex: 1;            
            display: flex;
            color: $color2;
            flex-direction: column;

            .about-wrapp-wrapp {
                height: 80%;
                width: 80%;
                display: flex;
                justify-content: center;
                color: $color2;
                flex-direction: column;
            
                .about-text-wrapp-h {
                    flex: 1;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    h1 {
                        font-size: 34px;
                        color: $color3;
                    }
                }

                .about-text-wrapp-p {
                    flex: 2;
                    font-size: 18px;
                }
            }
        }
    }
}
}

@media (min-width: 1081px) and (max-width: 1280px) {
    #about-page-2 {
        height: 120vh;
        width: 100%;
        //background: $color5;
        background: $color2;
        display: flex;
        justify-content: center;
        align-items: center;

        .about-wrapp {
            height: 90vh;
            width: 80%;
            background: $color1;
            display: flex;
            flex-direction: column;
            //box-shadow: 5px 5px 1px 5px  $color1;

            .about-wrapp-img-wrapp {
                flex: 1;
                /*animation-name: about-wrapp-anim;
                animation-duration: 15s;
                animation-iteration-count: infinite;*/
                background: $color3;
                display: flex;
                justify-content: center;
                align-items: center;
                max-height: 450px;

                svg {
                    height: 100%;
                    width: 100%;
                }
            }

            .about-wrapp-text-wrapp {
                display: flex;
                justify-content: center;
                align-items: center;
                flex: 5;            
                display: flex;
                color: $color2;
                flex-direction: column;

                .about-wrapp-wrapp {
                    height: 80%;
                    width: 80%;
                    display: flex;
                    justify-content: center;
                    color: $color2;
                    flex-direction: column;
                
                    .about-text-wrapp-h {
                        flex: 1;
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        h1 {
                            font-size: 34px;
                            color: $color3;
                        }
                    }

                    .about-text-wrapp-p {
                        flex: 2;
                        font-size: 18px;
                    }
                }
            }
        }
    }  
}

@media (min-width: 680px) and (max-width: 1080px) {
     #about-page-2 {
        height: 110vh;
        width: 100%;
        //background: $color5;
        background: $color2;
        display: flex;
        justify-content: center;
        align-items: center;

        .about-wrapp {
            height: 90vh;
            width: 85%;
            background: $color1;
            display: flex;
            flex-direction: column;
            //box-shadow: 5px 5px 1px 5px  $color1;

            .about-wrapp-img-wrapp {
                flex: 1;
                /*animation-name: about-wrapp-anim;
                animation-duration: 15s;
                animation-iteration-count: infinite;*/
                background: $color3;
                max-height: 450px;

                svg {
                    height: 100%;
                    width: 100%;
                }
            }

            .about-wrapp-text-wrapp {
                display: flex;
                justify-content: center;
                align-items: center;
                flex: 1;            
                display: flex;
                color: $color2;
                flex-direction: column;

                .about-wrapp-wrapp {
                    height: 80%;
                    width: 80%;
                    display: flex;
                    justify-content: center;
                    color: $color2;
                    flex-direction: column;
                
                    .about-text-wrapp-h {
                        flex: 1;
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        h1 {
                            font-size: 34px;
                            color: $color3;
                        }
                    }

                    .about-text-wrapp-p {
                        flex: 2;
                        font-size: 18px;
                    }
                }
            }
        }
    }
}

@media (max-width: 680px) {
     #about-page-2 {
        height: 135vh;
        width: 100%;
        //background: $color5;
        background: $color2;
        display: flex;
        justify-content: center;
        align-items: flex-start;

        .about-wrapp {
            height: 90vh;
            width: 92%;
            background: $color1;
            display: flex;
            flex-direction: column;
            //box-shadow: 5px 5px 1px 5px  $color1;

            .about-wrapp-img-wrapp {
                flex: 1;
                /*animation-name: about-wrapp-anim;
                animation-duration: 15s;
                animation-iteration-count: infinite;*/
                background: $color3;
                max-height: 450px;

                svg {
                    height: 100%;
                    width: 100%;
                }
            }

            .about-wrapp-text-wrapp {
                display: flex;
                justify-content: center;
                align-items: center;
                flex: 1;            
                display: flex;
                color: $color2;
                flex-direction: column;
                min-height: 530px;

                .about-wrapp-wrapp {
                    height: 80%;
                    width: 80%;
                    display: flex;
                    justify-content: center;
                    color: $color2;
                    flex-direction: column;
                
                    .about-text-wrapp-h {
                        flex: 1;
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        h1 {
                            font-size: 34px;
                            color: $color3;
                        }
                    }

                    .about-text-wrapp-p {
                        flex: 2;
                        font-size: 18px;
                    }
                }
            }
        }
    }
}