
//$color1: #fffafa;
$color1: #f2ebdd;


//$color2: #0d0c0a;
$color2 : rgb(24, 24, 24);//possible



//$color3: #ff6666;
$color3: #e3084b;//trenutno

//$color3: #ff6666;


$color10: #0d0c0a;  

$color4: rgb(179, 179, 179);
$color5: #1d1c19;    
$color7: #141413;   

$color6: #08e4c2;