@import './variables';
@import './header';
//@import './preload';
@import './cursor';
@import './landingPage';
@import './aboutPage';
@import './workPage';
@import './card';
@import './getInTouch';
@import './contactPage';
@import './footer';
@import './animations';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Baloo Thambi 2', cursive;
    cursor: none;
}

.overflowed {
    overflow: hidden;
}

#logo {
    font-family: 'Lobster', cursive;
}

a:not(#logo) {
    font-family: 'Baloo Thambi 2', cursive;
}

:focus {
    outline: none;
}

::selection {
    background-color: $color3;
    color: #fff;
}   

.link:after  {
  content: '';
  position: absolute;
  left: 0%;
  top: 0%;
  width: 0%;
  border-top: 2px solid $color6;
  transition: 0.8s;
}

.link:hover:after {
  transition: 1.2s;
  width: 100%;
}

a {
    text-decoration: none;
}

.container {
  height: 100%;
  width: 80%;
  margin-left: 10%;
}


@keyframes cursorAnim {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(.7);
    }
}

@keyframes cursorAnim2 {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(.4);
    }
}

@keyframes cursorAnim3 {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(3);
    }
    100% {
        transform: scale(1);
        opacity: 0;
    }
}

.page-container {
    background: $color2;
    //max-width: 100vw;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.card.card-upper {
    margin-top: -9vh;
    transition: 1.4s;
    box-shadow: 0 14px 28px $color6, 0 10px 10px $color6;
}

svg {
    height: 10%;
    width: 10%;
}

.aboout-page-opacity {
    background: $color2;
    opacity: 0.9;
    height: 100%;
    width: 100%;
}